.root {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus {
  outline: none;
}

.form {
  & > * {
    display: block;
    width: 30vw;
    min-width: 15rem;
  }
  padding: 0;
  background-color: #c5c1c1;
}

.username {
  margin-bottom: 1rem;
  background-color: #c5c1c1;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgb(60, 60, 60);
  padding: 0.5rem;
}

.password {
  background-color: #c5c1c1;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgb(60, 60, 60);
  padding: 0.5rem;
}

.submitButton {
  display: block;
  border: 0;
  border-radius: 0.05rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  color: #c5c1c1;
  background-color: #e8e8e8;
}
