.root {
  width: 98vw;
  max-width: 30rem;
}

.addButton {
  margin-top: 1rem;
  font-size: 0.7rem;
  & > a {
    border: 1px solid var(--color-bg);
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    color: var(--color-bg);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: var(--color-bg);
    }
  }
}