.root {
  width: 50vw;
  max-width: 30rem;
}

input[type=text].username {
  width: 90%;
  background-color: transparent;
  border: 0;
  border-bottom: aliceblue 1px solid;
  border-radius: 0;
  color: aliceblue;
  padding: 0.3rem 0;
  font-size: 0.8rem;
  &:focus {
    border-bottom: yellowgreen 1px solid;
    outline: none;
  }
}

.navigate {
  width: 10%;
  border: 0;
  background-color: aliceblue;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.3rem 0;
  cursor: pointer;
}

.navigate:hover {
  background-color: yellowgreen;
}


