.card {
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 1px;
  margin-bottom: 0.7rem;
}

.title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  font-weight: 800;
}

.private {
  color: yellow;
}

.secret {
  color: red;
}

.public {
  color: greenyellow;
}

.default {
  color: aliceblue;
}