:root {
  @custom-media --xs-viewport only screen and (min-width: 321px);
  @custom-media --sm-viewport only screen and (min-width: 768px);
  @custom-media --md-viewport only screen and (min-width: 1024px);
  @custom-media --lg-viewport only screen and (min-width: 1224px);

  --color-bg: #171E27;
  --color-fg: #F0F8FF;
}

html, body {
  margin:0;
  padding:0;
  color: var(--color-fg);
}

html {
  font-size: 12px;
  @media (--xs-viewport) {
    font-size: 14px;
  }
  @media (--sm-viewport) {
    font-size: 16px;
  }
  @media (--md-viewport) {
    font-size: 18px;

  }
  @media (--lg-viewport) {
    font-size: 22px;
  }
}

body {
  background-color: var(--color-bg);
  font-family: 'Assistant', sans-serif;
}
